



.rewards {
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
  height: 200vh;
}

.rewards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reward-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
}

.reward-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}



